@page
@model DisplayTicketModel
@{
}

<body style="background-color:LightBlue;">
<h1 align = "middle">Booked Ticket</h1>
</body>
<table class="table table-bordered table-striped">
        <thead>
            <tr bgcolor="#7A91DE"
>
                <th>Ticket ID</th>
                <th>Seat Number</th>
                <th>Price</th>
                <th>Data of Booking</th>
               
                <th>Date Of Journey</th>
                 <th>Name</th>
                <th>Phone Number</th>
                  <th>Date Of Birth</th>
                  <th>Gender</th>
                  <th>Age</th>
                  <th>Ticket Class</th>

                 

            </tr>
        </thead>
        <tbody>
           
           @foreach(var ticket in Model.Ticket){

                <tr bgcolor="#E6E6FA">
                    <td>@ticket.Id</td>
                    <td>@ticket.SeatNumber</td>
                    <td>@ticket.Price</td>
                    <td>@ticket.DateOfBooking</td>
                    <td>@ticket.DateOfJounery</td>
 <td>@ticket.Customer.Name</td>
  <td>@ticket.Customer.PhoneNumber</td>
    <td>@ticket.Customer.DateOfBirth</td>
    <td>@ticket.Customer.Gender</td>
    <td>@ticket.Customer.Age</td>


     <td>@ticket.TicketClass</td>
            </tr>
            }

            </tr>
        </tbody>
</table>


