@page
@model BookMyBus.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Index";
}
<body style="background-color:LightBlue;">
</body>
<h2 align="middle">Customers </h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr bgcolor="#7A91DE">
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Ticket)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customer) {
        <tr bgcolor="#E6E6FA">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ticket.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
